.gradient-custom{
    background-image: linear-gradient(to right top, #05bfdb, #06b4cd, #07a8c0, #079db3, 
    #0892a6, #05889d,  #037f94, #02758b, 
    #026b83, #04617a, #075771, #0a4d68);
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #000;
}
.container{
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.card{
    padding: 5%;
}