<div class="tab-content">
    <div class="tab-pane fade show active">
      <ul class="list-group mb-0" *ngIf="!checkTask; else BoxTicked">
        <li class="list-group-item">
          <input class="form-check-input me-2" type="checkbox" unchecked (click)="checkbox()"/>
          {{newTask.task}}
          <mat-icon>delete_forever</mat-icon>
      </ul>
      <ng-template #BoxTicked>
        <ul class="list-group mb-0">
          <li class="list-group-item ">
            <input class="form-check-input me-2" type="checkbox" checked (click)="checkbox()"/>
            <s>{{newTask.task}}</s>
            <mat-icon>delete_forever</mat-icon>
        </ul>
      </ng-template>
    </div>
  </div>

