li{
    display: flex;
    align-items: center;
    border: 0;
    margin-bottom: 2%;
    background-color: #f4f6f7;;
}

input{
    cursor: pointer;
}

s{
    color: red;
}

mat-icon.edit{
    position: absolute;
    right: 35px;
}

mat-icon.delete{
    position: absolute;
    right: 10px;
}

mat-icon.edit:hover{
    cursor: pointer;
    color: grey;
    transition: 0.5s;
}

mat-icon.delete:hover{
    cursor: pointer;
    color: red;
    transition: 0.5s;
}